body{
	background-color: #E0E0E0;	
}

.container {
	margin: 20px auto 0px auto;
	background-color: #fff;
	box-shadow: 15px 10px 5px #A0A0A0;
	width: 70%;
}

#logo-bcp {
	text-align: center;
}

#logo-bcp img {
	background-size: cover;
	width: 30%;
	min-width: 180px;
	margin-top: 15%;
}

#logo-text {
	font-family: arial, sans-serif;
	color: #565656;
	text-align: center;
}

#aboutus-text {
	font-family: arial, sans-serif;
	color: #565656;
	margin: 3% auto 0px auto;
	width: 63%;
	line-height: 150%;
}

h2 {
	font-family: arial, sans-serif;
	color: #565656;
	margin: 19% auto 0px auto;
	width: 63%;
}

.whatwedo-text {
	font-family: arial, sans-serif;
	color: #565656;
	margin: 2% auto 0px auto;
	width: 63%;
	line-height: 150%;
}

#advisory-img {
	text-align: center;
}

#advisory-img img {
	background-size: cover;
	width: 40%;
	margin-top: 3%
}

#footer{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5% 0px 5% 0px;
    color: #a0a0a0;
    text-align: center;
}

/* Flip animation*/

.flip:hover {
	transform: rotateY(360deg);
	transition: all 0.5s linear;
	transform-style: preserve-3d;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to { 
    -webkit-transform: rotateY(360deg);
  }
}

.continuous-flip
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.8s; 
    -webkit-animation-iteration-count:  2;
    -webkit-animation-timing-function: 	linear;
}

#menu-img {
	margin-top: 0%;
	margin-left: 2%;
}

#menu-img img{
	position: fixed;
	background-size: cover;
	width: 10%
}


@media (max-width: 500px) {
    html { font-size: 10%; }
}

@media (min-width: 500px) {
    html { font-size: 50%; }
}

@media (min-width: 800px) {
    html { font-size: 70%; }
}

@media (min-width: 1200px) {
    html { font-size: 85%; }
}