body{
	
	background-color: #E0E0E0;
	
}

div.container{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 15px 10px 5px #A0A0A0;
	min-width: 900px;
}
header{
	margin: 10px;
}
header #logo{
	opacity: 1;
	padding-bottom: 100px;
}
header #logo:hover{
	opacity: 0.5;
	
}

#menu{
	margin-top: 82px;
	
}

#menu a{
	font-weight: bold;
	/*color:#9fa1a4;*/
	color:#404040;
}
#menu a:hover{
	/*box-shadow: 5px 5px 5px #a0a0a0;*/
	color: #ff3333;
	/*color: #3b3b9e;*/
}
div #mainimg{
	margin-left: -15px;
	margin-right: -15px;
	border-radius: 0;
	/*
	border-top: 7px solid #ff0000;
	border-bottom: 7px solid #ff0000;
	*/
	border-top: 5px solid #404040;
	border-bottom: 5px solid #404040;

	background-image: url(../imgs/lightbulb.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	
	height: 700px;
}
#mainimg h1{
	text-align: right;
	margin-top: 650px;
	color: #a0a0a0;
}

#aboutus{
	position: relative;
	border-bottom: 5px solid #404040;
	
}
#aboutus_id{
	background-color: #404040;
	color: #fff;
	padding: 10px;
	text-align: center;

}
#aboutus_id:hover{
	color: #a0a0a0;
}
#aboutus_text{
/*	position: relative;
	min-width: 500px;
*/	font-family: arial, sans-serif;
	font-size: 14px;
	color: #565656;
	margin: 0px -15px ;
	padding: 50px 95px 36px;
	text-align: justify;
	text-justify: auto;
	/*border-left: 1px dotted #3b3b9e;*/
}

#contents{

	border-bottom: 5px solid #404040;

}

#contents_id{
	background-color: #404040;
	color: #fff;
	padding: 10px;
	text-align: center;
}
#contents_id:hover{
	color: #a0a0a0;
}
#contents_body{
	margin: 0 -15px;

}
#contents_body img{
	width: 270px;
	height: 150px;
}

.tab-content div{
	background-color: #f5f5f5;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #565656;
	margin: 0px;
	padding:50px;
	border:dotted 1px;
}
#contents_body hr{
	border-color: #808080;
}

#partners{
	border-bottom: 5px solid #404040;
}
#partners_id{
	background-color: #404040;
	color: #fff;
	padding: 10px;
	text-align: center;

}
#partners_id:hover{
	color: #a0a0a0;
}
#partners_body{
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #565656;
	margin: 0 -15px;
	padding: 30px 40px 36px ;
	text-align: center;

}
#partners img{
    width: 100px;
    height: 30px;
    margin: 10px;
}

#mapbody{
	text-align: center;
	background-color: #f5f5f5;
	background-color: green;
}
.flags{
	position: relative;
	left: -30px;
	width: 315px;
	height: 200px;
}

.cities{
	position: relative;
	left: -30px;
	
	width: 315px;
	height: 200px;	

}
#loca1{
	
	
}
#loca2{
	
	
}


#mapid{
	background-color: #404040;
	color: #fff;
	padding: 10px;
	text-align: center;
}
#mapid:hover{
	color: #a0a0a0;
}

/*map*/

#maesec{
    
}
#mapdwl {
    height:400px;
    width:520px;
    margin-left: 

}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
#footer{
    margin: 0 -15px;
    
    background-color: #202020;
    color: #a0a0a0;
    text-align: center;
    
}
/*map*/

/* Flip animation*/

.flip:hover {
	transform: rotateY(360deg);
	transition: all 1.0s linear;
	transform-style: preserve-3d;
}