/*
#main1{
	background-image: url(../imgs/bg_aluminium.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 20%;
	max-height: 50%;


}

#main2{
	background-image: url(../imgs/bg_exploration.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 20%;
	max-height: 50%;
}
#main3{
	background-image: url(../imgs/bg_gold.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 20%;
	max-height: 50%;
}
#main4{
	background-image: url(../imgs/bg_industrial_minerals.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 20%;
	max-height: 50%;
}
*/

body{

	background-color: #fff;
	
}

#logo img{
	margin: 15px 0px 0px 15px;
	
	border: solid;
	border-bottom: none;
	border-color: #ff8C00;
	max-height: 50px;

}

#about{
	border-style: solid;
	border-color: #ff8C00;
	border-left-style: none;
	min-height: 120px;
	margin-bottom: 100px;
}
#about h1{
	color: #ff8C00;

}
#about p{

	padding-left: 250px;
	padding-right: 30%;
	margin-top: -100px;
	position: relative;
}

